/* Rofi config file */
configuration {
    lines: 12;
    font: "monofur For Powerline 20";
    show-icons: true;
    display-window: "Window";
    display-drun: "Search";
    terminal: "alacritty";
}
@theme "oxide"
